#OPENAI_API_KEY="sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx>
OLLAMA_BASE_URL=http://127.0.0.1:11434



#SUPABASE_URL="https://xxxxxxxxxxxxx.supabase.co"
#SUPABASE_SERVICE_ROLE_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Optional: LangSmith for tracing (recommended for development)
LANGSMITH_TRACING=true
# Optional: LangSmith API key to access deployed graph
LANGSMITH_API_KEY=lsv2_pt_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
#LANGCHAIN_API_KEY=sb_secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
LANGSMITH_PROJECT="langgraph_chatbot"
LANGSMITH_ENDPOINT=https://api.smith.langchain.com